# Basic Python

## 1. Split this string

In [19]:
s = "Hi there Sam!"

In [20]:
s="Hi there Sam!"
s=s.split()
print(s)

['Hi', 'there', 'Sam!']

## 2. Use .format() to print the following string. 

### Output should be: The diameter of Earth is 12742 kilometers.

In [21]:
planet = "Earth"
diameter = 12742

In [22]:
planet = "Earth"
diameter = 12742
print( 'The diameter of {} is {} kilometers.' .format(planet,diameter));

The diameter of Earth is 12742 kilometers.

## 3. In this nest dictionary grab the word "hello"

In [23]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [24]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
print(d['k1'][3]["tricky"][3]['target'][3])

hello

# Numpy

In [25]:
import numpy as np

## 4.1 Create an array of 10 zeros? 
## 4.2 Create an array of 10 fives?

In [26]:
import numpy as np
a=np.zeros(10)
print("An array of 10 zeros:")
print(a)

An array of 10 zeros:
[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

In [27]:
import numpy as np
a=np.ones(10)*5
print("An array of 10 fives:")
print(a)

An array of 10 fives:
[5. 5. 5. 5. 5. 5. 5. 5. 5. 5.]

## 5. Create an array of all the even integers from 20 to 35

In [28]:
import numpy as np
a=np.arange(20,35,2)
print("Array of all the even integers from 20 to 35")
print(a)

Array of all the even integers from 20 to 35
[20 22 24 26 28 30 32 34]

## 6. Create a 3x3 matrix with values ranging from 0 to 8

In [29]:
import numpy as np
a =  np.arange(0, 9).reshape(3,3)
print(a)

[[0 1 2]
 [3 4 5]
 [6 7 8]]

## 7. Concatenate a and b 
## a = np.array([1, 2, 3]), b = np.array([4, 5, 6])

In [30]:
import numpy as np
a = np.array([1, 2, 3])
b = np.array([4, 5, 6])
result = np.concatenate((a, b))
print(result)

[1 2 3 4 5 6]

# Pandas

## 8. Create a dataframe with 3 rows and 2 columns

In [31]:
import pandas as pd

In [32]:
import pandas as pd
lists = [['jack', 13], ['rose', 12], ['tony', 23]]
df = pd.DataFrame(lists, columns=['Name', 'Age'])
print(df)

   Name  Age
0  jack   13
1  rose   12
2  tony   23

## 9. Generate the series of dates from 1st Jan, 2023 to 10th Feb, 2023

In [33]:
from datetime import timedelta, date

def daterange(date1, date2):
    for n in range(int ((date2 - date1).days)+1):
        yield date1 + timedelta(n)

start_dt = date(2023, 1, 1)
end_dt = date(2023, 2, 10)
for dt in daterange(start_dt, end_dt):
    print(dt.strftime("%d-%m-%Y"))

01-01-2023
02-01-2023
03-01-2023
04-01-2023
05-01-2023
06-01-2023
07-01-2023
08-01-2023
09-01-2023
10-01-2023
11-01-2023
12-01-2023
13-01-2023
14-01-2023
15-01-2023
16-01-2023
17-01-2023
18-01-2023
19-01-2023
20-01-2023
21-01-2023
22-01-2023
23-01-2023
24-01-2023
25-01-2023
26-01-2023
27-01-2023
28-01-2023
29-01-2023
30-01-2023
31-01-2023
01-02-2023
02-02-2023
03-02-2023
04-02-2023
05-02-2023
06-02-2023
07-02-2023
08-02-2023
09-02-2023
10-02-2023

## 10. Create 2D list to DataFrame

lists = [[1, 'aaa', 22],
         [2, 'bbb', 25],
         [3, 'ccc', 24]]

In [34]:
lists = [[1, 'aaa', 22], [2, 'bbb', 25], [3, 'ccc', 24]]

In [35]:
import pandas as pd
lists = [[1, 'aaa', 22], [2, 'bbb', 25], [3, 'ccc', 24]]
df = pd.DataFrame (lists, columns=['Si.No','Name', 'Age'])
print(df)

   Si.No Name  Age
0      1  aaa   22
1      2  bbb   25
2      3  ccc   24